/java_gopal/nbproject/privat/
/java_sibay/build/
/SEMESTER_2/nbproject/private/
/SEMESTER_2/build/
/AplikasiPenjualan/nbproject/private/
/AplikasiPenjualan/build/
/JavaApplication02/nbproject/private/
/JavaApplication02/build/
/AplikasiPenjualann/nbproject/private/
/AplikasiPenjualann/build/
/SABO/nbproject/private/
/SABO/build/
/SABO/src/GameGui/build/
/SABO/src/GameGui/nbproject/private/
